package {{package}}
{{#imports}}import {{import}}
{{/imports}}
import {{invokerPackage}}._
import {{invokerPackage}}.ApiInvoker._
import spray.http._

{{#operations}}
object {{classname}} {

{{#operation}}
  def {{operationId}}({{#allParams}}{{paramName}}: {{#required}}{{dataType}}{{/required}}{{^required}}{{#isContainer}}{{dataType}}{{/isContainer}}{{^isContainer}}Option[{{dataType}}]{{/isContainer}}{{/required}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{^defalutValue}}{{^required}}{{^isContainer}} = None{{/isContainer}}{{/required}}{{/defalutValue}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) =
    ApiRequest(HttpMethods.{{httpMethod.toUpperCase}}, "{{basePath}}", "{{path}}", {{#consumes.0}}"{{mediaType}}"{{/consumes.0}}{{^consumes}}"application/json"{{/consumes}})
      {{#bodyParam}}.withBody({{paramName}})
      {{/bodyParam}}{{#formParams}}.withFormParam("{{baseName}}", {{#isContainer}}ArrayValues({{paramName}}{{#collectionFormat}}, {{collectionFormat.toUpperCase}}{{/collectionFormat}}){{/isContainer}}{{^isContainer}}{{paramName}}{{/isContainer}})
      {{/formParams}}{{#queryParams}}.withQueryParam("{{baseName}}", {{#isContainer}}ArrayValues({{paramName}}{{#collectionFormat}}, {{collectionFormat.toUpperCase}}{{/collectionFormat}}){{/isContainer}}{{^isContainer}}{{paramName}}{{/isContainer}})
      {{/queryParams}}{{#pathParams}}.withPathParam("{{baseName}}", {{#isContainer}}ArrayValues({{paramName}}{{#collectionFormat}}, {{collectionFormat.toUpperCase}}{{/collectionFormat}}){{/isContainer}}{{^isContainer}}{{paramName}}{{/isContainer}})
      {{/pathParams}}{{#headerParams}}.withHeaderParam("{{baseName}}", {{#isContainer}}ArrayValues({{paramName}}{{#collectionFormat}}, {{collectionFormat.toUpperCaseapiIn}}{{/collectionFormat}}){{/isContainer}}{{^isContainer}}{{paramName}}{{/isContainer}})
      {{/headerParams}}{{#responses}}{{^isWildcard}}{{#dataType}}.withResponse({{code}}, Some(classOf[{{dataType}}]))
      {{/dataType}}{{^dataType}}.withResponse({{code}}, None)
      {{/dataType}}{{/isWildcard}}{{/responses}}{{#responses}}{{#isWildcard}}{{#dataType}}.withDefaultResponse({{code}}, Some(classOf[{{dataType}}]))
      {{/dataType}}{{^dataType}}.withDefaultResponse(None)
      {{/dataType}}{{/isWildcard}}{{/responses}}

{{/operation}}

{{#unknownStatusCodes}}
  ApiInvoker.addCustomStatusCode({{value}}, isSuccess = false)
{{/unknownStatusCodes}}

}

{{/operations}}