package {{package}}

{{#imports}}import {{import}}
{{/imports}}
import {{invokerPackage}}._
import {{invokerPackage}}.ApiInvoker._
import {{invokerPackage}}.ApiKeyLocations._
import spray.http._

{{#operations}}
object {{classname}} {

{{#operation}}
    {{#renderJavaDoc}}/**
      {{notes}}

      Expected answers: {{#responses}}
        code {{code}} : {{dataType}} {{^message.isEmpty}}({{message}}){{/message.isEmpty}}{{/responses}}
      {{#authMethods.0}}Available security schemes:
      {{#authMethods}}  {{name}} ({{type}})
      {{/authMethods}}{{/authMethods.0}}{{#allParams}}
      @param {{paramName}} {{description}}{{/allParams}}
    */{{/renderJavaDoc}}
    def {{operationId}}({{>methodParameters}}): ApiRequest =
        ApiRequest(HttpMethods.{{httpMethod.toUpperCase}}, "{{basePath}}", "{{path}}", {{#consumes.0}}"{{mediaType}}"{{/consumes.0}}{{^consumes}}"application/json"{{/consumes}})
          {{#authMethods}}{{#isApiKey}}.withApiKey(apiKey, "{{keyParamName}}", {{#isKeyInQuery}}QUERY{{/isKeyInQuery}}{{#isKeyInHeader}}HEADER{{/isKeyInHeader}}){{/isApiKey}}{{#isBasic}}.withBasicAuth(basicAuth){{/isBasic}}
          {{/authMethods}}{{#bodyParam}}.withBody({{paramName}})
          {{/bodyParam}}{{#formParams}}.withFormParam({{>paramCreation}})
          {{/formParams}}{{#queryParams}}.withQueryParam({{>paramCreation}})
          {{/queryParams}}{{#pathParams}}.withPathParam({{>paramCreation}})
          {{/pathParams}}{{#headerParams}}.withHeaderParam({{>paramCreation}})
          {{/headerParams}}{{#responses}}{{^isWildcard}}{{#dataType}}.withResponse({{code}}, Some(classOf[{{dataType}}]))
          {{/dataType}}{{^dataType}}.withResponse({{code}}, None)
          {{/dataType}}{{/isWildcard}}{{/responses}}{{#responses}}{{#isWildcard}}{{#dataType}}.withDefaultResponse({{code}}, Some(classOf[{{dataType}}]))
          {{/dataType}}{{^dataType}}.withDefaultResponse(None)
          {{/dataType}}{{/isWildcard}}{{/responses}}
{{/operation}}

{{#unknownStatusCodes}}
  ApiInvoker.addCustomStatusCode({{value}}, isSuccess = false)
{{/unknownStatusCodes}}

}

{{/operations}}