package {{invokerPackage}}

import akka.actor.ActorSystem
import spray.http._

import scala.concurrent.{ExecutionContext, Future}

case class ApiRequest(
                       // required fields
                       method: HttpMethod,
                       basePath: String,
                       operationPath: String,
                       contentType: String,

                       // optional fields
                       responses: Map[Int, Option[Class[_]]] = Map.empty,
                       bodyParam: Option[Any] = None,
                       formParams: Map[String, Any] = Map.empty,
                       pathParams: Map[String, Any] = Map.empty,
                       queryParams: Map[String, Any] = Map.empty,
                       headerParams: Map[String, Any] = Map.empty,
                       credentials: Seq[Credentials] = List.empty) {

  def withCredentials(cred: Credentials) = copy(credentials = credentials :+ cred)

  def withBasicAuth(auth: Option[Credentials]) = auth match {
    case Some(credentials: Credentials) => withCredentials(credentials)
    case None => this
  }

  def withApiKey(key: Option[ApiKeyValue], keyName: String, location: ApiKeyLocation) = key match {
    case Some(keyValue) => withCredentials(ApiKeyCredentials(keyValue, keyName, location))
    case None => this
  }

  def withResponse[T](code: Int, responseClass: Option[Class[T]]) = copy(responses = responses + (code -> responseClass))

  def withDefaultResponse[T](responseClass: Option[Class[T]]) = withResponse(0, responseClass)

  def withoutBody() = copy(bodyParam = None)

  def withBody(body: Any) = copy(bodyParam = Some(body))

  def withFormParam(name: String, value: Any) = copy(formParams = formParams + (name -> value))

  def withPathParam(name: String, value: Any) = copy(pathParams = pathParams + (name -> value))

  def withQueryParam(name: String, value: Any) = copy(queryParams = queryParams + (name -> value))

  def withHeaderParam(name: String, value: Any) = copy(headerParams = headerParams + (name -> value))

  def execute(invoker: ApiInvoker)(implicit ec: ExecutionContext, system: ActorSystem): Future[Any] =
    execute(ec, system, invoker)

  def execute(implicit ec: ExecutionContext, system: ActorSystem, invoker: ApiInvoker): Future[Any] =
    invoker.execute(this)

}
