{{#allParams}}{{paramName}}: {{#required}}{{dataType}}{{/required}}{{^required}}{{#isContainer}}{{dataType}}{{/isContainer}}{{^isContainer}}Option[{{dataType}}]{{/isContainer}}{{/required}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}{{^required}}{{^isContainer}} = None{{/isContainer}}{{/required}}{{/defaultValue}}{{#hasMore}}, {{/hasMore}}{{/allParams}}{{#authMethods.0}}{{^allParams.isEmpty}}, {{/allParams.isEmpty}}{{/authMethods.0}}{{#authMethods}}{{#isApiKey}}apiKey: Option[ApiKeyValue] = None{{/isApiKey}}{{#isBasic}}basicAuth: Option[BasicCredentials] = None{{/isBasic}}{{#hasMore}}, {{/hasMore}}{{/authMethods}}