package {{package}}

import {{invokerPackage}}.ApiModel
import org.joda.time.DateTime

{{#models}}

{{#model}}

case class {{classname}} (
  {{#vars}}{{#description}}/* {{{description}}} */
  {{/description}}{{name}}: {{^required}}Option[{{datatype}}]{{/required}}{{#required}}{{datatype}}{{/required}}{{#hasMore}},{{/hasMore}}{{^hasMore}}){{/hasMore}}
  {{/vars}} extends ApiModel
{{/model}}
{{/models}}